body {
	background-color: #00008B;
	font-family: arial, verdana, sans-serif;
	color: white;
	
}

a {
	text-decoration: none;
	font-family: "Times New Roman", serif;
	font-size: 120%;
	color: #FFF8DC;
}

a:hover{
	text-decoration: underline;
}

h3 {
	text-decoration: underline;
}

.alignLeft {
	text-align: right;
}

.alert {
	color: red;
	font-size: 150%;
}

.prompt {
  color: LimeGreen;
  font-size: 120%;
}

.required {
  color: red;
  font-size: 150%;
}

.leftEmptyIfUnknown {
  color: #C0C0C0;
  font-size: 150%;
}
